name: distcc runner
on:
  workflow_call:
    inputs:
      job-index:
        required: true
        type: string
      job-total:
        required: true
        type: string

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
  PRIMARY_PUBLIC_KEY: ${{ secrets.PRIMARY_PUBLIC_KEY }}
  INSTANCE_0_PRIVATE_KEY: ${{ secrets.INSTANCE_0_PRIVATE_KEY }}
  INSTANCE_1_PRIVATE_KEY: ${{ secrets.INSTANCE_1_PRIVATE_KEY }}
  FULL_REPOSITORY_NAME: ${{ github.repository }}
  RUN_ID: ${{ github.run_id }}
  RUN_ATTEMPT: ${{ github.run_attempt }}

jobs:
  build:
    name: Join the cluster
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        name: Clone repository
      - name: Choose a local port to use
        run: echo "export LOCAL_PORT=$(( 20000 + $RANDOM % 10000 ))" > local_port.sh
      - name: Install dependencies
        run: ./install_auxiliary_dependencies.sh
      - name: Preprocess the auxiliary service initialization script
        run: ./assemble_auxiliary_support.sh ${{ inputs.job-index }} ${{ inputs.job-total }}
      - name: Initialize services
        run: ./generated/start_auxiliary_services.sh ${{ inputs.job-index }}
      - name: Advertise public IP address
        uses: actions/upload-artifact@v4
        with:
          name: Auxiliary${{ inputs.job-index }}IP
          path: Auxiliary${{ inputs.job-index }}IP.txt
      - name: Connect to the primary runner
        run: ./connect.sh ${{ inputs.job-index }} ${{ inputs.job-total }}
      - name: Wait for release
        run: ./stall.sh
